---
layout: default
title: Floris Huetink
---
<section>
  <div class="text-center">
    <h2>Nieuwsbrief</h2>

    <p>Automatisch bericht bij nieuwe muziek en/of optredens?</p>

    <p style="margin-bottom: 2rem;">
      <a href="/nieuwsbrief" style="display: inline-block; border-radius: 2rem; background: #e0f2fe; padding: 1rem 2rem;">
        <span style="color: black;">→</span> Schrijf je hier in!
     </a>
   </p>
  </div>

  <hr>

  <div class="text-center">
    <h2>Live</h2>

    {% if site.data.shows.upcoming.size > 0 %}
      {% for show in site.data.shows.upcoming %}
        <p>
          <strong>{{ show.date | nl_long_date }}</strong><br>
          {{ show.time }}<br>
          {{ show.location }}<br>
          {{ show.title }}<br>
          {% for link in show.links %}
            <a href="{{ link.url }}">{{ link.title }}</a><br>
          {% endfor %}
        </p>
      {% endfor %}
    {% else %}
      <p>Geen live optredens gepland op dit moment.</p>
    {% endif %}

    <p>•••</p>

    <div style="max-width: 540px; margin: 0 auto 2rem; border-radius: 2rem; background: #e0f2fe; padding: 2rem 1rem 1rem;">
      <h3>Heb je of ken je een podium?</h3>
      <h4>En lijkt het je leuk als ik daar kom zingen en/of vertellen?</h4>
      <p>Dan kom ik graag met je in contact!<br>
        Ga naar <a href="/about.html">contactgegevens</a> en bel of stuur een bericht.</p>
      <p>Ik ben 's ochtends, 's middags en 's avonds beschikbaar,<br>
        als intermezzo, avondvullend of iets ertussenin.<br>
        Verzoekjes om iets speciaals te doen vind ik altijd leuk.<br>
        Zie <a href="https://vimeo.com/florish">Vimeo</a> en <a href="https://soundcloud.com/florishuetink/">SoundCloud</a> voor impressies van optredens.</p>
    </div>
  </div>

  <hr>

  <div class="text-center">
    <h2>Streaming</h2>

    <p>Op de grote streamingplatforms staan twee liedjes <a href="/skygge.html">gemaakt bij het boek Skygge</a>.<br>
      Klik op een logo om te luisteren:</p>

    <p style="margin: 1.5rem 0; display: flex; justify-content: center; align-items: center; gap: 1rem;">
      <a href="https://music.apple.com/nl/artist/floris-huetink/1562397184" target="_blank"><img src="/images/listen-on-apple-music.svg" title="Floris Huetink – Apple Music" height="30"/></a>

      <a href="https://www.deezer.com/nl/artist/129464872" target="_blank" style="margin: 0 20px;"><img src="/images/deezer-logo.svg" title="Floris Huetink – Deezer" height="22"/></a>

      <a href="https://open.spotify.com/artist/4kBdC8ujS4OgK9ok6m7Ae9" target="_blank"><img src="/images/spotify-logo.svg" title="Floris Huetink – Spotify" height="30"/></a>
    </p>

    <p>Meer heb ik nog niet opgenomen, anders dan liveregistraties op <a href="https://vimeo.com/florish">Vimeo</a> en <a href="https://soundcloud.com/florishuetink/">SoundCloud</a>.</p>

    <div style="max-width: 540px; margin: 0 auto 2rem; border-radius: 2rem; background: #e0f2fe; padding: 2rem 1rem 1rem;">
      <h3>Vind je dit jammer?</h3>
      <h4>En ben of ken je iemand die muziek opneemt?</h4>
      <p>Laat het me weten!<br>
        Ga naar <a href="/about.html">contactgegevens</a> en bel of stuur een bericht.</p>
    </div>
  </div>

  <hr>

  <div class="text-center">
    <h2>Blog</h2>

    <p class="text-center">
      {% for post in site.posts %}
        <a href="{{ post.url }}">{{ post.title }}</a><br>
      {% endfor %}
    </p>
  </div>
</section>

